*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
.max{
    background-color: #07294D;
    width: 100%;
    height: 300px;
    display: flex;
}
.max .max-content{
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}
.max-content .text-2{
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.max-content h1{
    font-size: 48px;
    line-height: 50px;
    font-weight: 600;
    color:white;
    width:70%;
    align-items: start;
    text-align: start;
}
.max-content .btn{
        width: 200px;
        height: 58px;
        text-transform: capitalize;
        padding: 20px 30px;
        border: none;
        background-color: #0C8B51;
        color:white;
        font-size: 18px;
        border-radius: 50px;
        transition: all 1s ;
        cursor: pointer;
    }
    .btn:hover{
        background-color: #07294D;
        transform:translateY(-10px)
    }
@media screen and (max-width:900px) {
    .max-content h1{
        font-size: 38px;
        width: 70%;
    }
    
}
@media screen and (max-width:767px){
    .max-content .text-2{
        flex-direction: column;
        align-items: flex-start;
    }
    .max-content h1{
        font-size: 33px;
        width: 90%;
        margin-bottom: 20px;
        line-height: 40px;
    }
   .text-2 .btn{
    margin-top: 20px;
   }
}

